{
	"version": 2,
	"generated_at": "2026-01-10T00:00:00Z",
	"platform": "aws-ec2",
	"metadata": {
		"instance_type": "c5.4xlarge"
	},
	"dpdk_cores": [
		1,
		2,
		3,
		4
	],
	"devices": [
		{
			"pci_address": "0000:27:00.0",
			"mac": "02:04:3d:ba:a3:10",
			"addresses": [
				"172.31.1.10/20"
			],
			"gateway_v4": "172.31.0.1",
			"mtu": 9001,
			"role": "kernel",
			"original_name": "enp39s0"
		},
		{
			"pci_address": "0000:28:00.0",
			"mac": "02:04:3d:ba:a3:2f",
			"addresses": [
				"172.31.1.40/20",
				"172.31.1.41/20",
				"172.31.1.42/20",
				"2406:da18:e99:5d00::10/64",
				"2406:da18:e99:5d00::11/64"
			],
			"gateway_v4": "172.31.0.1",
			"gateway_v6": "2406:da18:e99:5d00::1",
			"mtu": 9001,
			"role": "dpdk",
			"original_name": "enp40s0"
		},
		{
			"pci_address": "0000:29:00.0",
			"mac": "02:04:3d:ba:a3:30",
			"addresses": [
				"172.31.1.128/20",
				"172.31.1.129/20",
				"2406:da18:e99:5d00::20/64",
				"2406:da18:e99:5d00::21/64"
			],
			"gateway_v4": "172.31.0.1",
			"gateway_v6": "2406:da18:e99:5d00::1",
			"mtu": 9001,
			"role": "dpdk",
			"original_name": "enp41s0"
		}
	],
	"hugepages": {
		"size_kb": 2048,
		"count": 512,
		"mount": "/mnt/huge"
	},
	"eal_args": [
		"--iova-mode=pa"
	]
}